$fontFamilyName: 'Raleway', sans-serif;
$fontFamilyBody: 'Open sans', sans-serif;

$background: #29088A;
$mainColorB: #363636;
$mainColorR: #ee7560;
$lightColorB: lighten($mainColorB, 30);
$lightColorB_sub: lighten($mainColorB, 65);
$lightColorR: lighten($mainColorR, 10);

