@import './../../sass/_import.scss';

.wrapper {
    background-color: $backgroundNav;

    nav {
        color: $fontColorNav;
        padding: 10px 0px;

        fa-icon {
            color: $fontColorNav;
            font-size: 2rem;
        }

    }

}
