<main>
  <div class="container main-container">
    <h1>Your cart</h1>

    <!-- [ngStyle]="{'opacity': is_mail_sent ? '0.5' : '1' }" -->
    <div class="contents">
      <p [style.display]="NumberOfCartItems ? 'none' : 'visible'">
      <!-- <p [ngStyle]="{display:NumberOfCartItems > 0?'none':''}"> -->
        Your cart is empty.
      </p>
      <div class="cart-list-container">
        <ul list-group mb-3>
          <li class="list-group-item d-flex" *ngFor="let cartItem of cartItems">
            <span class="col-3 align-self-center"><img src= "{{cartItem.imageUrl}}"></span>
            <span class="col-4 align-self-center"><a routerLink="/product/{{cartItem.id}}">{{cartItem.name}}</a></span>
            <span class="col-2 align-self-center">{{cartItem.price}}</span>
            <span class="col-2 align-self-center">
              <button (click)="removeFromCart(cartItem.id)">Remove</button>
            </span>
          </li>
        </ul>
      </div>

      <div class="btn-container row">
        <!-- Show Checkout btn only if cart item(s) is more than one -->
        <div *ngIf="NumberOfCartItems > 0">
          <button routerLink="/checkout">Checkout</button>
        </div>
        
        <button (click)="goBack()">GO BACK</button>
      </div>
    </div>
  </div>
</main>