<main>
  <div class="container main-container">
    <h1>Update order</h1>
    <div *ngIf="orderDetails">
      <form [formGroup]="updateOrderForm">
        <h2>Order details</h2>
        <table class="table table-bordered">
          <tr>
            <th class="text-center">ID</th>
            <td class="text-center">{{orderDetails.id}}</td>
          </tr>
          <tr>
            <th class="text-center">Ordered On</th>
            <td class="text-center">{{orderDetails.created | date: 'M/d/yy, h:mm a'}}</td>
          </tr>
          <tr>
            <th class="text-center">Ordered By</th>
            <td class="text-center">{{orderDetails.createdBy}}</td>
          </tr>
          <tr>
            <th class="text-center">PaymentMethod</th>
            <td class="text-center">
              <select formControlName="payment">
                <option [ngValue]="paymentChoice" *ngFor="let paymentChoice of paymentChoices">
                  {{paymentChoice}}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <th class="text-center">Status</th>
            <td class="text-center">
              <select formControlName="status">
                <option [ngValue]="statusChoice.id" *ngFor="let statusChoice of statusChoices">
                  {{statusChoice.status}}
                </option>
              </select>
            </td>
          </tr>
        </table>

        <h2>Item details</h2>
        <table class="table table-bordered">
          <tr>
            <th class="text-center">Item ID</th>
            <th class="text-center">Product Id</th>
            <th class="text-center">Product Name</th>
            <th class="text-center">Amount</th>
          </tr>
          <ng-container formArrayName="items">
            <ng-container *ngFor="let item of updateOrderForm.get('items').controls; let i=index">
              <ng-container [formGroupName]="i">
                <tr>
                  <td>
                    <input type="number" formControlName="id" readonly style="border:0">
                  </td>
                  <td class="text-center">
                    <select formControlName="productId">
                        <option [ngValue]="product.id" *ngFor="let product of products">
                          {{product.id}}
                        </option>
                    </select>
                  </td>
                  <td class="text-center">
                    <input type="text" formControlName="productName" readonly style="border:0">
                  </td>
                  <td class="text-center">
                    <input type="number" formControlName="amount" placeholder="{{item.amount}}" min="0" max="1">
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
        </table>
        <button class="button-basic" type="submit" (click)="updateOrder(orderDetails.id)">Update order</button>
      </form>

      <pre>{{updateOrderForm.value | json}}</pre>

      <button class="button-basic" type="button" (click)="deleteOrder(orderDetails.id)">Delete order</button>
    </div>
    <div *ngIf="!orderDetails">
      <p>Order has been deleted.</p>
      <button routerLink="/admin" class="button-basic">Go back to admin</button>
    </div>
  </div>
  <main>
