<main>
  <div class="container main-container">
    <h1>Update order</h1>
    <div *ngIf="orderDetails">
      <h2>Order details</h2>
      <form [formGroup]="updateOrderForm">
        <table class="table table-bordered">
          <tr>
              <th class="text-center">ID</th>
              <td class="text-center">{{orderDetails.id}}</td>
          </tr>
          <tr>
            <th class="text-center">Ordered On</th>
            <td class="text-center">{{orderDetails.created | date: 'M-d h:mm a'}}</td>
          </tr>
          <tr>
            <th class="text-center">Ordered By</th>
            <td class="text-center">{{orderDetails.createdBy}}</td>
          </tr>
          <tr>
            <th class="text-center">PaymentMethod</th>
            <td class="text-center">
                <input type="text" formControlName="payment" placeholder="{{orderDetails.paymentMethod}}" class="text-center">
            </td>
          </tr>
          <tr>
            <th class="text-center">Status</th>
            <td class="text-center">
              <input type="number" formControlName="status" placeholder="{{orderDetails.status}}" max="3" min="0" class="text-right">
            </td>
          </tr>
        </table>
<p>{{orderDetails.orderRows[0].productId}}</p>
        <!-- <table class="table table-bordered"> -->
        <table class="table table-bordered">
          <tr>
            <th class="text-center">Item ID</th>
            <th class="text-center">Product Id</th>
            <th class="text-center">Product</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Delete</th>
          </tr>
            <ng-container *ngFor="let orderRow of orderRows">
              <ng-container formArrayName="items">
                <ng-container *ngFor="let item of updateOrderForm.get('items').controls; let i=index">
                    <ng-container [formGroupName]="i">
                        <tr>
                <td class="text-center">{{i}},{{orderRow.id}}</td>
                <td class="text-center">
                    <!-- <input type="number" formControlName="productId"> -->
                    <input type="number" formControlName="productId" placeholder="{{orderRow.productId}}">
                    <!-- <input type="number" placeholder="{{orderRow.productId}}"> -->
                </td>
                <td class="text-center">
                  To be fixed
                </td>
                <td class="text-center">
                    <!-- <input type="number" formControlName="amount"> -->
                    <input type="number" formControlName="amount" placeholder="{{orderRow.amount}}">
                    <!-- <input type="number" placeholder="{{orderRow.amount}}"> -->
                </td>
                <td><button class="button-basic">Delete</button></td>

              </tr>
            </ng-container>
          </ng-container>
            </ng-container>
        </ng-container>
        </table>
        <button class="button-basic" type="submit" (click)="updateOrder(orderDetails.id)">Update order</button>
        <!--  [ngClass]="{'isDisable-style': !updateOrderForm.valid}" [disabled]="!updateOrderForm.valid" -->
    </form>

    <pre>{{updateOrderForm.value | json}}</pre>

      <button class="button-basic" type="button" (click)="deleteOrder(orderDetails.id)">Delete order</button>
    </div>
    <div *ngIf="!orderDetails">
      <p>Order has been deleted.</p>
      <button routerLink="/admin" class="button-basic">Go back to admin</button>
    </div>
  </div>
<main>
