<main>
  <div class="container main-container" *ngIf="details">
      <h1>{{details.name}}</h1>
      <div class="product-cocntent row align-items-center">
          <div class="img-container col-lg-6">
            <img src= "{{details.imageUrl}}">
          </div>
          <div class="details-container col-lg-6">
            <p>{{details.description}}</p>
            <hr>
            <ul>
              <p>Price: <span class="price">{{details.price}}</span>KR</p>
              <p>Released: {{details.year}}</p>
              <p>Added: {{details.added | date}}</p>
              <p *ngFor="let category of categoryResults">Category: {{category.name}}</p>
            </ul><button class="button-basic" (click)="addToCart()">ADD TO CART</button>
            <button class="button-basic" (click)="goBack()">GO BACK</button>
          </div>
      </div>
  </div>
</main>