<aside>
    <app-filter
      (queryEvent)="searchProduct($event)"
      (categoryEvent)="showProductsByCategory($event)"
      [homeCategories]="categories"
      >
      <!-- caputure an even from EventEmitter when something is typed in the input field -->
    </app-filter>
</aside>
<main id="home">

  <div class="container">
    <div class="row match-height">
      <div *ngIf="searchResults && searchResults.length"></div>
        <div class="col-xl-3 col-md-6 col-sm-12 card-wrapper" *ngFor="let product of products">
          <div class="card">
            <div class="card-content">
              <img class="card-img-top" src= "{{product.imageUrl}}" alt="Image of {{product.name}}"><br>
              <div class="card-body">
                <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                <p class="card-text">{{product.category}}</p>
              </div>
            </div>
          </div>
      </div>

    <!-- <div *ngIf="searchResults.length === 0"></div>
      <div *ngFor="let searchResult of searchResults">
          <a  routerLink="/searchResult/{{searchResult.id}}">{{searchResult.name}}</a>
          <br>
          <img src= "{{searchResult.imageUrl}}"><br>
        </div> -->
    </div>
  </div>
</main>