@import './../../sass/_import.scss';

.main-container {

    @include bordersToCheck(pink, yellow, blue);

    padding: 20px 10px 0px 10px;

    .filter {

        border: 1px solid $mainColorB;
        margin: 15px;

        .search-box {
            padding: 5px;
        }

        .category-box {

            .category-div {
                height: 50px;
                width: 160px;
                padding-left: 5px;
                border-left: 6px solid pink;
                background-color: $mainColorB;
                color: $fontColorNav;
                line-height: 45px;
                @include boxShadow;
                margin: 10px 5px;
                cursor: pointer;
            }

            .action {
                border-left: 6px solid #FACC2E;
            }

            .thriller {
                border-left: 6px solid #BE81F7;
            }

            .comedy {
                border-left: 6px solid #C8FE2E;
            }

            .sci-fi {
                border-left: 6px solid #F79F81;
            }

        }
    }
    .product-list {

        .card-wrapper {
            padding:0 15px;

            .card{
                height:500px;
                margin-bottom: 1.875rem;
                border: none;
                border-radius: 0;
                @include boxShadow;
            
                img{
                    width: 100%;
                    height: 350px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: top;
                    object-position: top;
                }
            }
        }
    }
}
